<div class="container">

    <h1>{{title}}</h1>

    <hr>

    <p><strong>Descripción:</strong> {{description}}</p>
    <p><strong>Autor/a:</strong> {{author}}</p>
    <p><strong>Rating:</strong> {{rating}}/10</p>

    <hr>

    <a href="/libros" class="btn btn-dark">Volver a los libros</a>

</div>